# ----------------------
# Environment variables
# ----------------------
.env
backend/.env

# ----------------------
# Python (Backend)
# ----------------------
venv/
backend/venv/
__pycache__/
*.pyc
backend/instance/

# ----------------------
# Node.js (Frontend)
# ----------------------
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# ----------------------
# Database
# ----------------------
*.db

# ----------------------
# Uploads / Storage
# ----------------------
uploads/
backend/uploads/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db